/* Style pour le conteneur principal */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #00ff00; /* Bordure verte fluo */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Ombre verte fluo */
    background-color: #000; /* Fond noir */
    color: #00ff00; /* Couleur de texte verte fluo */
    font-family: 'Orbitron', sans-serif; /* Police de style futuriste */
}

/* Style pour le titre */
h2 {
    text-align: center;
    color: #00ff00; /* Vert fluo */
    font-size: 36px; /* Taille de police plus grande */
    margin-bottom: 20px;
}

/* Style pour les labels */
label {
    display: block;
    margin-bottom: 10px; /* Augmentation de l'espacement */
    color: #00ff00; /* Vert fluo */
    font-size: 20px; /* Taille de police légèrement plus grande */
}

/* Style pour les champs de texte et le bouton */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Bordure verte fluo */
    background-color: rgba(0, 0, 0, 0.9); /* Fond légèrement transparent */
    color: #00ff00; /* Couleur de texte verte fluo */
    font-size: 20px; /* Taille de police légèrement plus grande */
}

/* Style pour le bouton */
input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: #00ff00; /* Vert fluo */
    color: black; /* Couleur du texte */
    font-size: 24px; /* Taille de police légèrement plus grande */
}

/* Changement de couleur du bouton au survol */
input[type="submit"]:hover {
    background-color: #008000; /* Vert foncé */
}

/* Style pour les liens */
a {
    color: #00ff00; /* Vert fluo */
    text-decoration: none;
}

/* Changement de couleur du lien au survol */
a:hover {
    color: #008000; /* Vert foncé */
}

/* Police de style futuriste - Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background-color: black;
}
