/* Ajoutez ici votre CSS personnalisé pour l'effet du volet d'informations */

/* Style pour le conteneur principal */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #00ff00; /* Bordure verte fluo */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Ombre verte fluo */
    background-color: #000; /* Fond noir */
    color: #00ff00; /* Couleur de texte verte fluo */
    font-family: 'Orbitron', sans-serif; /* Police de style futuriste */
}


/* Style pour le titre */
h2 {
    text-align: center;
    color: #00ff00; /* Vert fluo */
    font-size: 36px; /* Taille de police plus grande */
    margin-bottom: 20px;
}

/* Style pour les labels */
label {
    display: block;
    margin-bottom: 10px; /* Augmentation de l'espacement */
    color: #00ff00; /* Vert fluo */
    font-size: 20px; /* Taille de police légèrement plus grande */
}

/* Style pour les champs de texte et le bouton */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 32px);
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.9);
    color: #00ff00;
    font-size: 20px;
}

/* Style pour le bouton */
input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: #00ff00; /* Vert fluo */
    color: black; /* Couleur du texte */
    font-size: 24px; /* Taille de police légèrement plus grande */
}

/* Changement de couleur du bouton au survol */
input[type="submit"]:hover {
    background-color: #008000; /* Vert foncé */
}

/* Style pour les liens */
a {
    color: #00ff00; /* Vert fluo */
    text-decoration: none;
}

/* Changement de couleur du lien au survol */
a:hover {
    color: #008000; /* Vert foncé */
}

/* Police de style futuriste - Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background-color: black;
}

/* Style pour les liens de navigation (onglets des pages) */
.nav-links a {
    color: #00ff00; /* Couleur du texte */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

/* Style pour le lien actif (page actuelle) */
.nav-links a.active {
    background-color: rgba(0, 255, 0, 0.5);
    color: black; /* Couleur du texte */
}
.user-info{
    color: #00ff00;
}

/* Style pour les volets temporaires */
.nav-links .nav-link {
    position: relative;
}

.nav-links .info {
    position: absolute;
    top: 0;
    left: 100%; /* Positionné à droite du lien */
    display: none;
    padding: 20px; /* Marge intérieure du volet temporaire */
    background-color: #fff; /* Couleur de fond blanche */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre légère */
    border-radius: 10px;
    width: 300px; /* Largeur du volet temporaire */
    font-size: 16px;
}

.nav-links a:hover .info {
    display: block;
}

/* Style pour les champs de mot de passe et le bouton */
.password-input {
    position: relative;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.password-input input[type="password"] {
    width: calc(100% - 32px); /* Ajustement pour la largeur de l'icône et le padding */
    padding-right: 32px; /* Ajustement pour la largeur de l'icône */
}

.password-input .password-toggle {
    position: absolute;
    right: 6px; /* Ajustement pour positionner au milieu à droite */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    opacity: 0.2; 
}

/* Style pour le bouton */
input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: #00ff00;
    color: black;
    font-size: 24px;
    display: block; /* Afficher en tant que bloc pour pouvoir définir la largeur et centrer */
    margin: 0 auto; /* Centre le bouton horizontalement */
    width: 50%; /* Largeur du bouton */
}

/* Changement de couleur du bouton au survol */
input[type="submit"]:hover {
    background-color: #008000;
}

p {
    text-align: center; /* Centre le texte horizontalement */
}

#error-message{
    color: red;
}

.div-erreur{
    display: flex;
    justify-content: center;
    align-items: center;
}.error-message {
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 10px;
}                        

























