 tr,
 td,
 table {
     border: 1px solid black;
     font-family: fantasy;
     font-style: oblique;
     text-align: center;
     border-radius: 15px;
     border-spacing: 0px;


 }

 th {
     background-color: red;
     color: gold;
    
 }

 .chiffre {
     color: red;
     background-color: gray;

 }

 body {
     background-color: black;
 }

 p {
     color: red;
 }

 tr td {
     text-align: center;
 }

 tr:nth-child(4) {
     background-color: blue;
 }

 tr:nth-child(2) {
     background-color: brown;
 }

 table {
     background-color: aliceblue;
     border-radius: 10%;
 }

 .bonjour td {
     background-color: aquamarine;
 }

 .Pays {
     background-color: red;
 }

 .Natio {
     background-color: green;
 }
 #animal:hover{
 cursor: pointer}
 .texte {
    color: blue;
 }